html,body {
    margin: 0; 
}
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: #95979d;
    text-decoration: none;
}

span,em,strong,a{display: inline-block;}

* {
    margin: 0;
    padding:0;
    font-family: '';
    font-size:16px;
    color: #95979d;
    box-sizing: border-box
}
