@import url('common.css');

/*----------------------------------*/


.header{
    width: 100%; 
    background: #4087c3;
}
.header ul{
    width: 100px; margin: 0 auto;
}
.header ul li{
    display: inline-block;
    position: relative;
}
.header ul li > a{  /* > li의 직계자손에게만 효과를 넣음*/
    color:#fff;
    padding: 10px 10px;
    /*.header 값에 height 값 X , a 글씨 크기만큼 설정됨 (버튼의 영역을 크게 잡아주고자 li가 아닌 a에 padding, 영역확보)*/
    text-transform: uppercase; /* 영어 대문자 변환 */
    
}

/*
.header ul li a:after{
    content:'|';
    padding: 0 20px;
    opacity: .2;
    font-size: .8em;
    vertical-align: top;
}

.header ul li:last-of-type a:after{
    content: '';
} /* 마지막 li 오른쪽에 | 제거 */ 


.header ul li > a:before{
    content:'';
    border: 5px solid transparent; /* 배경 투명 처리*/
    border-bottom: 5px solid #fff;
    position: absolute;
    bottom: 0;
    left:calc(50% - 5px);
    opacity: 0;
    z-index: 2; /*about 부분에 잘 보이게끔 위로 올림*/
}

.header ul li:hover > a:before{
    opacity: 1;
}




/*----------------sub menu (depth) ------------------*/

.header ul li div{
    position: absolute;
    top: 38px; left: 0;
    border: 2px solid #4087c3;
    display: none;
}
.header ul li div a{
    color: #4087c3;
    width: 100%;
    text-align: center;
    border-top: 1px solid #4087c3;
    padding: 10px 0;
}

.header ul li:hover div{
    display: block;
}


/* ------------------menu------------------ */

.header .menu{
    position: absolute;
    right: 40px; top: 10px;
    width: 40px; height: 40px;
    
}
.header .menu span{
    width: 100%; height: 2px;
    background: #fff;
    position: absolute;
    left: 0; top: 0;
}

.header .menu span:nth-of-type(1){top:0;}
.header .menu span:nth-of-type(2){top:9px;}
.header .menu span:nth-of-type(3){top:19px;}



  /*-----------------header_2-----------------*/


.header_2{
    background: #eee; 
}
.header_2 div{
    width: 1000px; margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_2 div h1{font-size: 2em;}
.header_2 div ul{}
.header_2 div ul li{
    display: inline-block;
    margin-left: 30px;
}

.header_2 div ul li a{position: relative}

.header_2 div ul li a:after{
    content: '';
    position: absolute;
    bottom: -3px; left:50%;
    width: 0%; height: 2px;
    background:#555;
    transition: 0.5s;
}

.header_2 div ul li:hover a:after{
    width:100%; left:0
}




/*--------------select--------------------*/


.select{display: inline-block;position: relative;}/* width 사이즈를 지정안하려면 display: inline-block 설정 */

.select a{padding: 10px 50px 10px 10px; border: 1px solid #000; border-bottom: 0px}

.select a:after{content:'';
    border: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute; right: 15px; top: 18px}

.select ul {background: #eee; border: 1px solid #000; border-bottom: 0px}

.select ul li{border-top: 1px solid #000; padding: 10px; display: none;}

.select ul li:nth-of-type(1){border-top: 0px;}
.select ul li:nth-of-type(3){border-bottom: 1px solid #000}

.select:hover li{display: block; }

/*

.select > a:hover + ul{
        display:block;} --> .select 안에있는(>) a 태그의 직결형제 ul 부름(+), ul 전체를 부를때 (~)
*/






