@import url('common.css');
*{margin: 0 auto}
body{ background:#f2f2f2;}
/*--------------------------------*/


.public{
    width: 900px;
    background: #fff;
    margin: 100px auto;
    padding: 60px;
}

.public h2{
    font-size: 2em;color: #333;
    text-align: center;
    padding-bottom: 40px;
}

.public .p_all{border: 10px solid #333; padding:60px;
                }

.public .p_all h3{
    font-size: 1.6em; text-align: center;
    color: #333; padding-bottom: 20px;
}

.public .p_all h3 small{
    display: block;
    line-height: 3;
}

.public .p_all dl{
    border: 2px solid #aaa;
    padding: 0 10px;
}

.public .p_all dl dt{
    padding: 10 0px;
}

.public .p_all dl dd{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    padding-left: 20px;
    background: url(../img/member.jpg) 5px center no-repeat;
}

.public .p_all dl dd input{
    position: absolute;
    right: 0;
    top: 14px;
}

.public .p_all dl dd em{
    font-style: normal; color: #f00 /*em의 기울기를 해제함*/
}

.public .p_all div {text-align: center;}

/* .public .p_all input[type='submit']{} */
.public .p_all div > input{
                        background: #aaa;
                        border: none;
                        padding: 10px 30px;
                        color: #fff;
                        margin-top: 20px;
                        }
